<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="description" content="React Pixi idle game template" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <title>React Pixi Idle Template</title>
    <script src="/sdk.js"></script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
